<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger</title>
</head>
<style>
    h1 {
        font-family: Titillium Web,sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        background-color: #8ABF04;
        color: white;
        margin: -8px;
        padding: 1rem 0;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
</style>
<body>
    <a href="/swagger-ui.html">
        <h1>swagger-ui</h1>
    </a>
</body>
</html>